@import url("_reset.css");
@import url(_variables.css);
@import url(_icon-panel.css);
@import url(_action-container.css);
@import url(_upload-button.css);

body {
    background-color: var(--main-bg-color);
    color: #fff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  .icon {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
  }
  
  .icon:last-child {
    margin-bottom: 0;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  h1, h3 {
    color: #fff;
    text-align: center;
  }

  .icon:hover {
    color: var(--panel-hover-color);
  }

  h3 {
    text-align: center;
    font-size: 16px;
    font-style: italic;
  }

  h1::first-letter {
    color: red;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .content-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image-container {
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    image-rendering: crisp-edges; /* or pixelated */  }
  
.resize-inputs {
  display: flex;
}

canvas.animate {
  transition: transform 0.3s ease;
}

.canvas-container {
  overflow: hidden;
}